* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  display: grid;

  grid-template: 
  "nav header " 100px
  "nav cards " auto / minmax(100px, 150px)  minmax(300px, 1200px) 
  ;
  
  gap: .25em;
  background-color: darkkhaki;
  padding: 1em;
  min-height: 100vh;

  justify-content: center;
}

#nav {
  grid-area: nav;
  background-color: blanchedalmond;
  padding: 1em;
  /* border: 1px solid black; */
  border-radius: .25em;
}

#header {
  grid-area: header;
  background-color: blanchedalmond;
  padding: 1em;
  /* border: 1px solid black; */
    border-radius: .25em;
}

#cards {
  grid-area: cards;
  background-color: bisque;
  padding: 1em;
  /* border: 1px solid black; */
    border-radius: .25em;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 200px;
  border: black 1px solid;
  border-radius: .5em;
  padding: 10px;
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
}

[data-read-status=true] {
  background-color: green;
}
[data-read-status=false] {
  background-color: red;
}