* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: fit-content;
}

.buttonBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  justify-items: center;
}

#content {
  display: grid;

  grid-template: 
  "nav header " 100px
  "nav cards " auto / minmax(100px, 150px)  minmax(300px, 1200px) 
  ;
  
  gap: .25em;
  background-color: darkkhaki;
  padding: 1em;
  min-height: 100vh;

  justify-content: center;
}

#nav {
  grid-area: nav;
  background-color: blanchedalmond;
  padding: 1em;
  /* border: 1px solid black; */
  border-radius: .25em;
}

#header {
  grid-area: header;
  background-color: blanchedalmond;
  padding: 1em;
  /* border: 1px solid black; */
    border-radius: .25em;
}

#cards {
  grid-area: cards;
  background-color: bisque;
  padding: 1em;
  /* border: 1px solid black; */
    border-radius: .25em;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 200px;
  border: black 1px solid;
  border-radius: .5em;
  padding: 10px;
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;

}

.card p {
  background-color: rgba(255, 255, 255, .6);
  color: black;
  width: fit-content;
  border-radius: .15em;
  /* mix-blend-mode: hard-light; */
  /* text-shadow: 0 0 15px rgba(255,255,255,1); */
}

[data-read-status=true] .readStatus{
  background-color: rgba(124, 235, 124, 0.6);
}
[data-read-status=false] .readStatus{
  background-color: rgba(214, 101, 101, 0.6);
}